body{
  background: linear-gradient(45deg, #fff, #eee, #bbb);
}

*{
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 220px;
  height: 250px;
  border-radius: 35px;
  box-shadow: 0 10px 10px #000;
}

.side-button{
  position: absolute;
  left: 100%;
  z-index: 2;
  width: 8px;
  height: 35px;
  background: #000;
  border-radius: 0 4px 4px 0;
  box-shadow: inset -2px 0px 2px #fff;
  cursor: pointer;
}

#up{
  top: 20%;
}

#down{
  top: 45%;
}

.container .watch{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 220px;
  height: 250px;
  background: #000;
  border-radius: 35px;
  overflow: hidden;
  border: 1px solid #494e4e;
  box-shadow: inset 5px 0px 15px #eee;
}

.watch #shade{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  height: 20px;
  background: rgba(255,255,255,0.2);
  border-radius: 50% 50% 100px 100px;
}

.watch .screen-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 190px;
  border: 2px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  color: white;
  overflow: hidden;
}

.settings{
  position: relative;
  height: 50%;
  width: 100%;
  transition-duration: 0.3s;
}

.session{
  border-bottom: 1px solid #aaa;
}

.fill{
  padding: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.active{
  background: #fff;
  color: #000;
  height: 100%;
}

.inactive{
  height: 0;
  opacity: 0;
}

.settings:hover{
  background: #fff;
  color: #000;
}

.time{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
}

.time span{
  font-size: 20px;
  user-select: none;
}

.time .num{
  font-size: 50px;
}

.edit-highlight{
  border-bottom: 2px solid #000;
}

.control-buttons{
  position: absolute;
  bottom: 6.5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.button{
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  margin: 0 9px;
  width: 35px;
  height: 13px;
  font-size: 12px;
  line-height: 13px;
  border-radius: 0 0 7px 7px;
  transition-duration: 0.3s;
  background: #999;
  user-select: none;
}

.button:hover{
  opacity: 1;
}
